.NavBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    background-color: crimson;
    font-family: 'Sanchez', serif;
}

.navlink {
  color:red;
}