.NavBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 10vh;
    background-color: lightgrey;
    color: red;

}