.NavBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    background-color: lightgrey;
    color: red;
}

.Search {
  background-color: #d3d3d3;
  color: red;
}