.SideBar {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 80vh;
}

.Intro {
    border: 1px solid black;
    margin: 5px;
}

.SideButton {
    flex-flow: row nowrap;
    border: 1px solid black;
    width: 15vw;
    text-align: center;
    margin: 0px 10px 5px 20px;
}


.Links {
    text-align: center;
    font-size: small;
}
.Quotes {
    flex-direction: row;
    border: 1px solid black;
    width: 15vw;
    height: 20vh;
    text-align: center;
    margin: 0px 10px 5px 20px;
}
.TagList {
    flex-direction: row;
    border: 1px solid black;
    width: 15vw;
    height: 20vh;
    text-align: center;
    margin: 0px 10px 5px 20px;
}