.SideBar {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.Intro {
  margin: 2vw;
  text-align: center;
}

.Headshot, .Quote {
  align-self: center;
  padding: 2vh;
  margin: 2vh;
}

.Links {
  text-align: center;
  font-size: small;
}

