.SideBar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  font-family: 'Sanchez', serif;
}

.Intro {
  margin: 2vw;
  text-align: center;
}

.Headshot, .Quote {
  align-self: center;
  padding: 2vh;
  margin: 2vh;
}

.Links {
  text-align: center;
  font-size: small;
}

